<!DOCTYPE html>
<html>
	<head>
		<title>CoPal</title>
		<script src="../node_modules/react/dist/react.js"></script>
		<link href="../style/style.css" rel="stylesheet" />
	</head>
	<body>
		<div class="copal-content"></div>
		<script src="../build/frontend/components/copal-input.js"></script>
		<script src="../build/frontend/components/copal-view-list.js"></script>
		<script src="../build/frontend/components/copal-main.js"></script>
		<script src="../build/frontend/frontend_main.js"></script>
	</body>
</html>
